nav{

    display: flex;
    height: 120px;
    width: 100vw;
    justify-content: flex-start;
    align-items: center;  

    .link{
        text-decoration: none;
        font-size: 20px;
        color: #fff;
        margin: 0 20px;
    }
    
    span{
        width: 200px;

        &:hover{
            border-bottom: 1px solid white;
        }
    
    }

    .imgLink{
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
    }

    .img{
        width: 250px;
    }
}