// Pantallas de celulares
$screen-plg: 720px;

// Pantallas de pc
$screen-csm: 1160px;
$screen-cmd: 1440px;

// Mixin para celulares:
@mixin plg {
    @media only screen and (max-width: $screen-plg){
        @content;
    }
}

// Mixin para pc
@mixin csm {
    @media only screen and (min-width: $screen-plg) and (max-width: $screen-csm) {
        @content;
    }
}

@mixin cmd {
    @media only screen and (min-width: $screen-csm) and (max-width: $screen-cmd) {
        @content;
    }
}

@mixin clg {
    @media only screen and (min-width: $screen-cmd) {
        @content;
    }
}