// Pantallas de celulares
$screen-psm: 375px;
$screen-plg: 720px;

// Pantallas de tablets
$screen-md: 1024px;

// Pantallas de pc
$screen-csm: 1366px;
$screen-cmd: 1439px;
$screen-clg: 1440px;

// Mixin para celulares
@mixin psm {
    @media only screen and (max-width: $screen-psm) {
        @content;
    }
}

@mixin plg {
    @media only screen and (min-width: $screen-psm) and (max-width: $screen-plg) {
        @content;
    }
}

// Mixin para tablets
@mixin md {
    @media only screen and (min-width: $screen-plg) and (max-width: $screen-md) {
        @content;
    }
}

// Mixin para pc
@mixin csm {
    @media only screen and (min-width: $screen-md) and (max-width: $screen-csm) {
        @content;
    }
}

@mixin cmd {
    @media only screen and (min-width: $screen-csm) and (max-width: $screen-cmd) {
        @content;
    }
}

@mixin clg {
    @media only screen and (min-width: $screen-clg) {
        @content;
    }
}