.detail{

    ul{
        list-style: none;
    }

    display: flex;
    flex-direction: column;

    background-color: #febfa5;
    width: 60vw;
    height: 80vh;
    margin: auto;
    position: relative;
    border: 3px solid #686681;
    
    .title{
        padding: 10px;
        background-color: #e7da9c;
        border-bottom: 3px solid #686681;
    }
    
    .pkmContainer{
        padding: 10px;
        width: 50%;
        background-color: #ceabf1;
        border-right: 3px solid #686681;
        border-bottom: 3px solid #686681;
        
        .pkmName{
            font-size: 40px;
            text-align: center;
        }
    
        .imgContainer{
            width: 100%;
            height: 300px;
            background-color: #efebee;
            text-align: center;
            position: relative;

            border: 3px solid #bd93db;
    
            .shinyImg{
                width: 50px;
                position: absolute;
                top: 10px;
                left: 10px;
            }
    
            .pkmImage{
                width: 300px;
            }
        }
    }

    .statsContainer{
        font-size: 25px;
        position: absolute;
        top: 60px;
        right: 80px;
    }

    .characteristicsContainer{
        padding: 10px;
        font-size: 20px;

        .typesContainer{
            display: flex;

            span{
                width: 110px;
                height: 35px;
                font-size: 20px;

                text-shadow: 0 0 8px #000;
                
                color: #fff;
                border: 2px solid #000;
                
                margin: 5px;

                text-align: center;

                
            }

        }
    }
}

@include cmd{
    .detail{
        width: 80vw;
    }
}

@include csm{
    .detail{
        height: 125vh;

        .pkmContainer{
            width: 100%;
            padding: 0;

            .imgContainer{
                border: 0;
            }
        }

        .statsContainer{
            position: static;
            margin-left: 15px;
        }
    }
}

@include plg{
    .detail{
        height: 125vh;
        margin-top: 20px;

        .pkmContainer{
            width: 100%;
            padding: 0;

            .imgContainer{
                border: 0;
            }
        }

        .statsContainer{
            position: static;
            margin-left: 15px;
        }
    }
}

.normal{
    background-color: #a9a878;
}

.fighting{
    background-color: #c03129;
}

.flying{
    background-color: #a991f0;
}

.poison{
    background-color: #a23fa3;
}

.ground{
    background-color: #e0c069;
}

.rock{
    background-color: #b7a139;
}

.bug{
    background-color: #a9b921;
}

.ghost{
    background-color: #715799;
}

.steel{
    background-color: #b8b9d1;
}

.fire{
    background-color: #f17e2f;
}

.water{
    background-color: #6890f0;
}

.grass{
    background-color: #78c84f;
}

.electric{
    background-color: #f6d32c;
}

.psychic{
    background-color: #f95486;
}

.ice{
    background-color: #99d9d8;
}

.dark{
    background-color: #6e5948;
}

.fairy{
    background-color: #fe64d5;
}

.dragon{
    background-color: #7139f9;
}