.link{
    display: inline-block;

    .shiny{
        width: 20px;
        position: absolute;
        cursor: pointer;
    }

    .cardContainer{
        background-color: #fff8;
        width: 300px;
        height: 300px;
        border: 2px solid #000;
    }
}